#root{
  background: black;
}
.principal{
  background:rgb(234, 229, 229);
  width: 80%;
  height: 100vh;
  margin: 0 auto;
    
}
.secundario{
  padding: 30px;
  margin: 0 auto 0 169px;
  width: 50%;
  height: 100vh;
  background: white;
}

#lupa{
  position: relative;
  left: 16px;
  width: 10px;
}

#filtro{
  width: 25px;
  vertical-align: middle;
}